body {background-color: black;}
        a {color: rgb(0, 247, 255);}
        h1 {color: lime; font-family: papyrus;}
        p {color: lime;}
        h2 {color: lime;}
        h3 {color: lime;}
        h4 {color: lime;}
        img {padding: 5px;}