---
//Frontmatter 
---

<div class="window w-full max-w-3xl mx-auto my-8">

    <div class="title-bar">
        <div class="title-bar-text">
            About Me
        </div>

        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
        </div>
    </div>

</div>
